<% unless alert.nil?%>
  <p class='py-4 px-5 bg-red-100 mb-5 text-red-600 font-medium rounded-lg text-xl' id='alert'><%= alert %></p>
<% end %>
<div class='mb-4'>
  <h1 class='text-4xl font-bold text-red-800 my-5'>Questions</h1>
  <%= form_with url: submit_url, method: :get, local: true do |form| %>
    <% @questions.each_with_index do |question, index| %>
      <div>
        <div class='bg-gray-200 p-2 rounded-lg text-xl font-bold text-green-800'>
          <%= index+1 %>
          <%= question[:title] %>
        </div>

        <%= render partial:'options', locals: { form: form, question: question, index: index } %>
      </div>
    <% end %>

    <%= form.submit "Submit", class: 'text-green-800 bg-green-200 py-2 px-4 rounded-xl text-lg border' %>
  <% end %>
</div>
